<div class="site-overlay"></div>
<header class="site-header site-header--basic">
  <div class="nav-container">
    <!-- Left part of the site header -->
    <div class="nav-left">
      <div class="site-logo" id="logo">
        <em class="logo__text">
          <a href="/" title="Home" aria-label="Home">Rey Ortilla</a>
        </em>
      </div>
      <button class="menu-btn">Menu</button>
    </div>
    
    <!-- Right side of the site header which includes the menu -->
    <nav aria-label="Primary navigation" class="site-nav">
      <button></button>
      <ul class="primary-menu accordion">
        <li class="primary-menu-item">
          <a href="javascript:void(0)" class="primary-menu-link">
            <span>Contact</span>
          </a>
        </li>        
        <li class="primary-menu-item">
          <a href="javascript:void(0)" class="primary-menu-link">
            <span>Blog</span>
          </a>
        </li>
        <li class="primary-menu-item">
          <a href="javascript:void(0)" class="primary-menu-link">
            <span>Contact</span>
          </a>
        </li>
      </ul>
      <form class="top-search" role="search"></form>
    </nav>
  </div>
</header>