{{ define "main" }}
  <div class="body-wrapper">
    <h1 class="body-header">
      Reymund Ortilla
    </h1>
    <p>
      Hi, I'm Reymund. I teach Senior High School students the following subjects:
    </p>
    <h2 class="body-header">About Me</h2>
    <p>
      I'm obsessed with the idea of self-mastery and teach myself anything I can. My other interests include typography, 
      WordPress optimization, digital analytics, and financial education.
    </p>
    <p>
      I currently work as a Digital Ad Optimizer. 
    </p>
    <p>  
      I also work as a freelance Digital Analyst where I make websites become a tracking machine using Google Tag Manager, 
      extract marketing insights from Google Analytics, and turn raw data into insightful reports with Google Data Studio.
    </p>
    <p>
      <a href="mailto:rsortilla@gmail.com" target="_blank" aria-label="rsortilla@gmail.com (opens in a new tab)" rel="noreferrer noopener">Email me</a>
    </p>
  </div>
{{ end }}